In [63]:
from datetime import datetime, timezone

import pandas as pd
import requests

# Calculate timespan
start_date = datetime(2021, 3, 31)
end_date = datetime.now()  # Use the current date
timespan_days = (end_date - start_date).days

# API URL
url = f"https://api.blockchain.info/charts/hash-rate?timespan={timespan_days}days&format=json&sampled=false"

# Make the request
response = requests.get(url)

# Parse the JSON data
data = response.json()

# Prepare lists to store data
timestamps = []
hashrates = []

# Loop through the data and populate the lists
for point in data["values"]:
    # Convert Unix timestamp to timezone-aware datetime
    time_utc = datetime.fromtimestamp(point["x"], tz=timezone.utc)
    timestamps.append(time_utc)
    hashrates.append(point["y"])

# Create a DataFrame
df = pd.DataFrame({"Date": timestamps, "Hashrate (TH/s)": hashrates})

# Display the DataFrame
print(df)

# Optionally, save the DataFrame to a CSV file
df.to_csv("data/bitcoin_hashrate_data.csv", index=False)

                          Date  Hashrate (TH/s)
0    2021-03-30 00:00:00+00:00     1.586936e+08
1    2021-03-31 00:00:00+00:00     1.706500e+08
2    2021-04-01 00:00:00+00:00     1.576067e+08
3    2021-04-02 00:00:00+00:00     1.605178e+08
4    2021-04-03 00:00:00+00:00     1.506721e+08
...                        ...              ...
1237 2024-08-18 00:00:00+00:00     6.736711e+08
1238 2024-08-19 00:00:00+00:00     5.613926e+08
1239 2024-08-20 00:00:00+00:00     6.477607e+08
1240 2024-08-21 00:00:00+00:00     6.348054e+08
1241 2024-08-22 00:00:00+00:00     6.909447e+08

[1242 rows x 2 columns]

In [64]:
total_df = pd.read_csv("data/total_4am.csv", index_col=0)
total_df

,day_starting_at_4am,open,high,low,close,volume_krw,volume_market
0,2021-03-31 04:00:00,70913000.0,72000000.0,70838000.0,71672000.0,8.072377e+10,1128.289061
1,2021-04-01 04:00:00,71619000.0,73117000.0,70670000.0,72997000.0,6.635804e+11,9202.724442
2,2021-04-02 04:00:00,72997000.0,74400000.0,71841000.0,73791000.0,6.514828e+11,8859.982312
3,2021-04-03 04:00:00,73790000.0,75703000.0,73100000.0,74815000.0,5.678623e+11,7604.545110
4,2021-04-04 04:00:00,74815000.0,75100000.0,71570000.0,73090000.0,6.160404e+11,8423.984650
...,...,...,...,...,...,...,...
1232,2024-08-14 04:00:00,84725000.0,85950000.0,82483000.0,82732000.0,3.119777e+11,3703.563056
1233,2024-08-15 04:00:00,82732000.0,83555000.0,81048000.0,81437000.0,2.546273e+11,3093.291193
1234,2024-08-16 04:00:00,81436000.0,83040000.0,79500000.0,82912000.0,2.868403e+11,3534.627568
1235,2024-08-17 04:00:00,82911000.0,83400000.0,82042000.0,82766000.0,9.552768e+10,1156.014190
1236,2024-08-18 04:00:00,82766000.0,83679000.0,82500000.0,82931000.0,4.892868e+10,589.698190

In [65]:
import pandas as pd

# Assuming total_df is your DataFrame

# Step 1: Convert 'day_starting_at_4am' to a datetime object
total_df['day_starting_at_4am'] = pd.to_datetime(total_df['day_starting_at_4am'])
total_df['day_starting_at_4am2'] = pd.to_datetime(total_df['day_starting_at_4am'])

# Step 2: Remove the time portion, keeping only the date
total_df['day_starting_at_4am'] = total_df['day_starting_at_4am'].dt.normalize()

# Display the DataFrame to verify the changes
print(total_df)

     day_starting_at_4am        open        high         low       close  \
0             2021-03-31  70913000.0  72000000.0  70838000.0  71672000.0
1             2021-04-01  71619000.0  73117000.0  70670000.0  72997000.0
2             2021-04-02  72997000.0  74400000.0  71841000.0  73791000.0
3             2021-04-03  73790000.0  75703000.0  73100000.0  74815000.0
4             2021-04-04  74815000.0  75100000.0  71570000.0  73090000.0
...                  ...         ...         ...         ...         ...
1232          2024-08-14  84725000.0  85950000.0  82483000.0  82732000.0
1233          2024-08-15  82732000.0  83555000.0  81048000.0  81437000.0
1234          2024-08-16  81436000.0  83040000.0  79500000.0  82912000.0
1235          2024-08-17  82911000.0  83400000.0  82042000.0  82766000.0
1236          2024-08-18  82766000.0  83679000.0  82500000.0  82931000.0

        volume_krw  volume_market day_starting_at_4am2
0     8.072377e+10    1128.289061  2021-03-31 04:00:00
1     6.635804e+11    9202.724442  2021-04-01 04:00:00
2     6.514828e+11    8859.982312  2021-04-02 04:00:00
3     5.678623e+11    7604.545110  2021-04-03 04:00:00
4     6.160404e+11    8423.984650  2021-04-04 04:00:00
...            ...            ...                  ...
1232  3.119777e+11    3703.563056  2024-08-14 04:00:00
1233  2.546273e+11    3093.291193  2024-08-15 04:00:00
1234  2.868403e+11    3534.627568  2024-08-16 04:00:00
1235  9.552768e+10    1156.014190  2024-08-17 04:00:00
1236  4.892868e+10     589.698190  2024-08-18 04:00:00

[1237 rows x 8 columns]

In [66]:
import pandas as pd

# Assuming total_df is your DataFrame

# Step 1: Convert 'day_starting_at_4am' to a datetime object
df['Date'] = pd.to_datetime(df['Date'])

# Step 2: Remove the time portion, keeping only the date
df['Date'] = df['Date'].dt.normalize()

# Display the DataFrame to verify the changes
print(df)

                          Date  Hashrate (TH/s)
0    2021-03-30 00:00:00+00:00     1.586936e+08
1    2021-03-31 00:00:00+00:00     1.706500e+08
2    2021-04-01 00:00:00+00:00     1.576067e+08
3    2021-04-02 00:00:00+00:00     1.605178e+08
4    2021-04-03 00:00:00+00:00     1.506721e+08
...                        ...              ...
1237 2024-08-18 00:00:00+00:00     6.736711e+08
1238 2024-08-19 00:00:00+00:00     5.613926e+08
1239 2024-08-20 00:00:00+00:00     6.477607e+08
1240 2024-08-21 00:00:00+00:00     6.348054e+08
1241 2024-08-22 00:00:00+00:00     6.909447e+08

[1242 rows x 2 columns]

In [67]:
print(df.dtypes)

Date               datetime64[ns, UTC]
Hashrate (TH/s)                float64
dtype: object

In [68]:
print(total_df.dtypes)

day_starting_at_4am     datetime64[ns]
open                           float64
high                           float64
low                            float64
close                          float64
volume_krw                     float64
volume_market                  float64
day_starting_at_4am2    datetime64[ns]
dtype: object

In [69]:
# Step 1: Remove the timezone information from the 'Date' column
df['Date'] = df['Date'].dt.tz_localize(None)

# Display the DataFrame and check the dtype to verify the changes
print(df)
print(df.dtypes)

           Date  Hashrate (TH/s)
0    2021-03-30     1.586936e+08
1    2021-03-31     1.706500e+08
2    2021-04-01     1.576067e+08
3    2021-04-02     1.605178e+08
4    2021-04-03     1.506721e+08
...         ...              ...
1237 2024-08-18     6.736711e+08
1238 2024-08-19     5.613926e+08
1239 2024-08-20     6.477607e+08
1240 2024-08-21     6.348054e+08
1241 2024-08-22     6.909447e+08

[1242 rows x 2 columns]
Date               datetime64[ns]
Hashrate (TH/s)           float64
dtype: object

In [70]:

# # Step 1: Adjust the Date in total_4am_df by subtracting 2 days
# total_df['adjusted_date'] = pd.to_datetime(total_df['day_starting_at_4am']) - pd.Timedelta(days=2)
df["Date"] = pd.to_datetime(df["Date"]) + pd.Timedelta(days=2)

# Step 3: Merge the DataFrames on the adjusted date and the Date column from df
merged_df = pd.merge(total_df, df, left_on='day_starting_at_4am', right_on='Date', how='inner')

# Step 4: Drop the 'Date' column from df and 'adjusted_date' column to avoid duplication
merged_df = merged_df.drop(columns=['Date'])

# total_df['adjusted_date'] = pd.to_datetime(total_df['day_starting_at_4am']) + pd.Timedelta(days=2)


# Step 5: Display the merged DataFrame
print(merged_df)

     day_starting_at_4am        open        high         low       close  \
0             2021-04-01  71619000.0  73117000.0  70670000.0  72997000.0
1             2021-04-02  72997000.0  74400000.0  71841000.0  73791000.0
2             2021-04-03  73790000.0  75703000.0  73100000.0  74815000.0
3             2021-04-04  74815000.0  75100000.0  71570000.0  73090000.0
4             2021-04-05  73090000.0  77800000.0  72821000.0  77274000.0
...                  ...         ...         ...         ...         ...
1231          2024-08-14  84725000.0  85950000.0  82483000.0  82732000.0
1232          2024-08-15  82732000.0  83555000.0  81048000.0  81437000.0
1233          2024-08-16  81436000.0  83040000.0  79500000.0  82912000.0
1234          2024-08-17  82911000.0  83400000.0  82042000.0  82766000.0
1235          2024-08-18  82766000.0  83679000.0  82500000.0  82931000.0

        volume_krw  volume_market day_starting_at_4am2  Hashrate (TH/s)
0     6.635804e+11    9202.724442  2021-04-01 04:00:00     1.586936e+08
1     6.514828e+11    8859.982312  2021-04-02 04:00:00     1.706500e+08
2     5.678623e+11    7604.545110  2021-04-03 04:00:00     1.576067e+08
3     6.160404e+11    8423.984650  2021-04-04 04:00:00     1.605178e+08
4     9.103606e+11   12063.608230  2021-04-05 04:00:00     1.506721e+08
...            ...            ...                  ...              ...
1231  3.119777e+11    3703.563056  2024-08-14 04:00:00     6.174667e+08
1232  2.546273e+11    3093.291193  2024-08-15 04:00:00     6.715514e+08
1233  2.868403e+11    3534.627568  2024-08-16 04:00:00     5.947428e+08
1234  9.552768e+10    1156.014190  2024-08-17 04:00:00     6.909447e+08
1235  4.892868e+10     589.698190  2024-08-18 04:00:00     6.132134e+08

[1236 rows x 9 columns]

In [71]:
import pandas as pd

# Assuming merged_df is your DataFrame

# Step 1: Remove the existing 'day_starting_at_4am' column
merged_df = merged_df.drop(columns=['day_starting_at_4am'])

# Step 2: Rename 'day_starting_at_4am2' to 'day_starting_at_4am'
merged_df = merged_df.rename(columns={'day_starting_at_4am2': 'day_starting_at_4am'})

# Step 3: Reorder the columns to place 'day_starting_at_4am' at the first position
cols = ['day_starting_at_4am'] + [col for col in merged_df.columns if col != 'day_starting_at_4am']
merged_df = merged_df[cols]

# Display the modified DataFrame
print(merged_df)

     day_starting_at_4am        open        high         low       close  \
0    2021-04-01 04:00:00  71619000.0  73117000.0  70670000.0  72997000.0
1    2021-04-02 04:00:00  72997000.0  74400000.0  71841000.0  73791000.0
2    2021-04-03 04:00:00  73790000.0  75703000.0  73100000.0  74815000.0
3    2021-04-04 04:00:00  74815000.0  75100000.0  71570000.0  73090000.0
4    2021-04-05 04:00:00  73090000.0  77800000.0  72821000.0  77274000.0
...                  ...         ...         ...         ...         ...
1231 2024-08-14 04:00:00  84725000.0  85950000.0  82483000.0  82732000.0
1232 2024-08-15 04:00:00  82732000.0  83555000.0  81048000.0  81437000.0
1233 2024-08-16 04:00:00  81436000.0  83040000.0  79500000.0  82912000.0
1234 2024-08-17 04:00:00  82911000.0  83400000.0  82042000.0  82766000.0
1235 2024-08-18 04:00:00  82766000.0  83679000.0  82500000.0  82931000.0

        volume_krw  volume_market  Hashrate (TH/s)
0     6.635804e+11    9202.724442     1.586936e+08
1     6.514828e+11    8859.982312     1.706500e+08
2     5.678623e+11    7604.545110     1.576067e+08
3     6.160404e+11    8423.984650     1.605178e+08
4     9.103606e+11   12063.608230     1.506721e+08
...            ...            ...              ...
1231  3.119777e+11    3703.563056     6.174667e+08
1232  2.546273e+11    3093.291193     6.715514e+08
1233  2.868403e+11    3534.627568     5.947428e+08
1234  9.552768e+10    1156.014190     6.909447e+08
1235  4.892868e+10     589.698190     6.132134e+08

[1236 rows x 8 columns]

In [72]:
merged_df.to_csv("data/total_4am_with_hashrate.csv")