In [9]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../../')))



df = pd.read_csv(os.path.join(os.getcwd(), "../../data/total_4am.csv"), index_col=0)

df

,day_starting_at_4am,open,high,low,close,volume_krw,volume_market
0,2021-03-31 04:00:00,70913000.0,72000000.0,70838000.0,71672000.0,8.072377e+10,1128.289061
1,2021-04-01 04:00:00,71619000.0,73117000.0,70670000.0,72997000.0,6.635804e+11,9202.724442
2,2021-04-02 04:00:00,72997000.0,74400000.0,71841000.0,73791000.0,6.514828e+11,8859.982312
3,2021-04-03 04:00:00,73790000.0,75703000.0,73100000.0,74815000.0,5.678623e+11,7604.545110
4,2021-04-04 04:00:00,74815000.0,75100000.0,71570000.0,73090000.0,6.160404e+11,8423.984650
...,...,...,...,...,...,...,...
1232,2024-08-14 04:00:00,84725000.0,85950000.0,82483000.0,82732000.0,3.119777e+11,3703.563056
1233,2024-08-15 04:00:00,82732000.0,83555000.0,81048000.0,81437000.0,2.546273e+11,3093.291193
1234,2024-08-16 04:00:00,81436000.0,83040000.0,79500000.0,82912000.0,2.868403e+11,3534.627568
1235,2024-08-17 04:00:00,82911000.0,83400000.0,82042000.0,82766000.0,9.552768e+10,1156.014190
1236,2024-08-18 04:00:00,82766000.0,83679000.0,82500000.0,82931000.0,4.892868e+10,589.698190

In [10]:
from performance import get_total_return

buy_price = df["close"].iloc[0]
sell_price = df["close"].iloc[-1]
total_return = get_total_return(inital_value=buy_price, final_value=sell_price,)
print(total_return)

0.1570906351155263

In [11]:
from performance import get_cagr

days = len(df)
cagr = get_cagr(total_return=total_return, days=days,)
cagr

0.04399334675305955

In [12]:
from performance import get_mdd

values = df["close"]
mdd = get_mdd(values=values)
mdd

0.7423167267226642

In [13]:
from performance import print_things
print_things(strategy = "Buy&Hold", total_return=total_return, cagr=cagr, mdd=mdd)

======Investment Summary======
Strategy        : Buy&Hold
total_return    : 15.71
cagr            : 4.4
mdd             : 74.23
==============================